<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Questionnaire{% endblock %}
    </title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/examples_styles.css' %}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

</head>

<body>

    <!-- Banner superior -->
    <header class="banner">
        <h1>Questionário do Cliente</h1>
    </header>

    <div class="container">

        <p class="instruction">Marque a opção que melhor representa sua opinião:</p>

        <table class="question-table">

            <thead>
                <tr>
                    <th>Declaração</th>
                    <th>Concordo totalmente</th>
                    <th>Concordo</th>
                    <th>Neutro</th>
                    <th>Discordo</th>
                    <th>Discordo totalmente</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Recomendaria nossos produtos a um amigo</td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                </tr>

                <tr>
                    <td>Consegue reconhecer nossa marca facilmente</td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                </tr>

                <tr>
                    <td>Está satisfeito com o progresso atual do projeto</td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                </tr>

            </tbody>

        </table>

        <button class="submit-btn">Enviar Respostas</button>

        <img src="{% static 'img/moorelogo.png' %}" class="container-logo" alt="Logo">

    </div>

</body>

</html>
